html
{
	height: 100%;
	background-color: #016938;
}

.header 
{
	background-color: #016938;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.logo
{
	width: 50%;
	background-color: white;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

img.logo
{
	width: 50%;
}

.body
{
	width: 50%;
	min-height: 100%;
	background-color: white;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.login-form
{
	display: block;
	min-height: 80%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
}

.login-page 
{
	width: 50%;
	padding: 8% 0 8% 0;
  	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.form 
{
	background: #FFFFFF;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input 
{
	display: flex;
	font-family: Verdana, Geneva, sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button 
{
	font-family: Verdana, Geneva, sans-serif;
	text-transform: uppercase;
	background: #295136;
	color: white;
	width: 100%;
	border: 0;
	padding: 15px;
	font-size: 14px;
	cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus 
{
	background: #016938;
}
.form .message 
{
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}
.form .message a 
{
	color: #016938;
	text-decoration: none;
}
.form .register-form {
	display: none;
}
.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}
.container:before, .container:after {
	content: "";
	display: block;
	clear: both;
}
